{% extends 'base.html.twig' %}

{% block title %}Avion{% endblock %}

{% block body %}
    <h1>Avion</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ avion.id }}</td>
        </tr>
        <tr>
            <th>Immatriculation</th>
            <td>{{ avion.immatriculation }}</td>
        </tr>
        <tr>
            <th>Nombre de places</th>
            <td>{{ avion.nombrePlaces }}</td>
        </tr>
        <tr>
            <th>Heures de vol</th>
            <td>{{ avion.nombreHeuresVol }}</td>
        </tr>
        <tr>
            <th>Prix</th>
            <td>{{ avion.prix|format_currency('EUR') }}</td>
        </tr>
        <tr>
            <th>Type</th>
            <td>{{ avion.typeAvion }}</td>
        </tr>
        </tbody>
    </table>
    <div class="btn-group" role="group" aria-label="actions">
        <a href="{{ path('avion_index') }}" class="btn btn-primary">Retour</a>
        <a href="{{ path('avion_edit', {'id': avion.id}) }}" class="btn-primary btn">Modifier</a>
        {{ include('avion/_delete_form.html.twig') }}
    </div>
{% endblock %}
